<!DOCTYPE html>
<html>
<head>
    <title>Ma premiere page Symfony</title>
</head>
<body>
    <h1>Hello {{ nom }} !!</h1>

    <p>
        Blabla bla sur le helloworld et tutticuonti
    </p>
</body>
</html>